.container {
    font-family: 'Courier New', Courier, monospace !important;
    border: solid black 2px !important;
}
.indice {
    color: red !important;
    font-family: Arial, Helvetica, sans-serif !important;
}