.barra {
  font-family: 'Courier New', Courier, monospace !important;
  position: fixed !important;
  top: 0;
  width: 100%;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #16181b !important;
  text-decoration: none !important;
  background-color: #ffc107 !important;
}

.app {
  background-color: aliceblue;
}